.icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.icon::before {
    content: '';
    position: absolute;
    background-image: url("/public/icons/search.svg");
    width: 24px;
    height: 24px;
}

.header__search:hover .hidden {
    display: block;
}

.hidden {
    display: none;
}

.header__profile {
    position: relative;
    width: 15px;
    height: 24px;
}

.header__profile::before {
    content: '';
    position: absolute;
    background-image: url("/public/icons/user.svg");
    width: 15px;
    height: 24px;
}

.header__profile:hover::before {
    background-image: url("/public/icons/user_hover.svg");
}

.header__basket {
    position: relative;
    width: 27px;
    height: 24px;
}

.header__basket::before {
    content: '';
    position: absolute;
    background-image: url("/public/icons/basket.svg");
    width: 27px;
    height: 24px;
}

.header__basket:hover::before {
    background-image: url("/public/icons/basket_hover.svg");
}